@model itransition_project.Models.UserInfoViewModel

<h2>UserInfo</h2>
<div class="col-md-3">
    <div class="panel-default">
        <div class="panel-heading text-center">
            <div>@Model.Profile.UserName</div>
            <img class="avatar-cropped-small" src="@Model.Profile.Profile.Photo"/>
        </div>
        <div class="panel-body list-group">
            <div class="list-group-item">
                <label class="glyphicon glyphicon-comment"></label>
                <span class="pull-right">@Model.Profile.Profile.About</span>
                
            </div>
        </div>
    </div>
    <h3>Medal</h3>
    <img src=""/>
    
            @foreach (var item in Model.Comments)
            {
                <div class="row">
                    <div class="col-xs-1">
                        <a href="../../User/UserInfo/@item.Author.UserName"><img ng-src="@item.Author.Profile.Photo" class="img-circle img-responsive" style="width: 150px; min-width: 29px"></a>
                    </div>
                    <div class="col-xs-11">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @item.Text<br>
                                <span class="label label-info">@item.Time</span>
                                <div class="pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
               </div>        
            }

                                @using (Html.BeginForm("UserInfo", "User", FormMethod.Post))
                {
                                    @Html.LabelFor(model => model.Comments.First().Text, "Text")
                                    <br />
                                    @Html.Editor("text")
                                    <br /><br />
                                    <input type="submit" value="Добавить" />
                                }
    </div>




